<section id="about" class="about rs-about">
    <div class="container" data-aos="fade-up">
        
        <div class="row">
            <div class="col-lg-6 col-md-12 mobile-mb-50">
                <img src="/assets/images/back.png" class="w-full" alt="about-us" />
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-desc">
                    <h3>Project Description:</h3>
                    <p> The number one problem that newly graduated college students face is finding 
                        a job, a problem that we are experiencing personally. Without knowing 
                        where to start, we eventually came across a platform by the name of LinkedIn.
                    </p>
                    <p>The number one problem that newly graduated college students face is finding a 
                        job, a problem that we are experiencing personally. Without knowing 
                        where to start, we eventually came across a platform by the name of LinkedIn.</p>
                    
                    <p>We must deal with these countless worries on top of the stress of graduating on time, while also trying to connect with some of 
                        the more influential individuals running bigger companies. However, LinkedIn lessens my ability to connect with them, and rather lets me follow their page and see their postings.
                        Other social networking sites such as Monster, Indeed, Craigslist, Coffee Chat,
                         and Lets Lunch are also great websites but suffer like LinkedIn. 
                         These other sites are not aesthetically pleasing, prone to scams, and provide 
                         no definite incentive for the individual.
                        
                    </p>

                    <h5>We introduce Boggle.</h5>

                    <p>Boggle is soon to be the first social networking platform that resolves the limitations that
                        these companies have to offer. 
                        Boggle is your one stop shop. Our mission statement is to connect people with their dream jobs and the employers 
                        that can make it happen.</p>

                    <p>Boggle will offer services that are both cost and time efficient. We aim to 
                        make an aesthetically pleasing website that is easily able to navigate. 
                        Boggle won’t require too much personal information, protecting user 
                        data and allowing employers to base intelligence solely on a person’s skills 
                        and qualifications.
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>