.job-container {
    border-radius: 50%;
    background-color: transparent;
} 

.person-img {
    width: 72px;
    height: 72px;
    box-sizing: border-box;
    background-clip: content-box;
    border-radius: 50%;
}

.job-title {
    justify-content: center;
    line-height: 0px;
    margin-left: 10px;
    margin-top: -10px;
}

.divider {
    border-bottom: 1px solid lightgrey;
}

.pending-invite {
    border-radius: 20px;
    padding: 6px 20px;
    background-color: lightgray;
}