<div class="row d-flex justify-content-center" style="margin-top: 60px">

    <div class="col-lg-8 col-md-9 col-sm-12">

        <div class="row justify-content-center" style="padding: 20px 50px;">

            <div class="card col-lg-4 col-md-4 col-sm-12 p-container">

                <div class="process_panel profile-pic-container">
                    <img class="profile-pic" src="/assets/images/male-16.jpg">
                </div>

                <div class="d-flex flex-column" style="padding: 20px; text-align: center;">
                    <h4>Taimour Ali</h4>
                    <p>Full Javascript Developer</p>
                </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12">
            
                <div class="col-lg-12">
                    <div class="process_panel" style="margin-bottom: 25px;">
                        <div class="process_heading">
                            <h3>About Me:</h3>
                        </div>
                        <div class="process_text">
                            <ul>
                                <p>Hey! I'm Taimour, a Full Stack JavaScript developer with experience in building and 
                                    maintaining Membership Sites, Affiliate Systems, creating logical UIs, and developing
                                     all other manner of web portals/websites and online tools.</p>
                                <p>I've experience building eye-catching sites and practical online tools from scratch and make 
                                    a point
                                     of ensuring cross-browser compatibility, and fluid responsiveness across devices.</p>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="process_panel" style="margin-bottom: 25px;">
                        <div class="process_heading">
                            <h3>Personal Info:</h3>
                        </div>
                        <div class="process_text">
                            <ul >
                                <li><b>Username: </b>&nbsp;&nbsp; <span>taimour</span></li><br/>
                                <li><b>Email: </b>&nbsp;&nbsp; <span>taimour@email.com</span></li>
                                <li><b>Phone: </b>&nbsp;&nbsp; <span>+92 000 0000 000</span></li>
                                <li><b>Address: </b>&nbsp;&nbsp; <span>Islamabad, Pakistan</span></li>
                                <li><b>Password: </b>&nbsp;&nbsp; <span>*******</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    
    </div>

</div>